@model MvcMovie.Models.SealContact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SealContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEAL_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEAL_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REPRESENTATIVE_TYPE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REPRESENTATIVE_TYPE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
